
div#exterior{
	background-color:#000; 
	background-image: url("../imagenes/texturas/simple_dashed.png");
	position: fixed;
	opacity: 0.9;
	z-index: 2;
}
div#capaContenido{
	background: white;
	width:600px;
	height: auto;
	position: absolute;
	top: 10%;
	left:20%;
	margin-bottom: 100px;
	z-index: 3;
}

button{
	margin-top: -43px;
	width: 43px;
	height: 38px;
}