#The_colorPicker{
	position:absolute;
	width:224px;
	padding-bottom:1px;
	background-color:#FFF;
	border:1px solid #317082;
}

#satvaldivOld{
	margin-left: -13px;
}

#barra{
	margin-left: -17px;
}

#cerrar{
	margin-left: -17px;
	cursor: pointer;
}