   
   body{ 
    background: url("../imagenes/bg.png") repeat scroll 0% 0% transparent;
   }
   
	/*****************************************************************************************/
	/***          ESTILO DE LOS BOTONES DE BUSQUEDA E IMPRIMIR EN LOS REPORTES,              */
	/***            LOS INPUTS TYPE TEXT, TEXTAREA Y LOS SELECTS DE TODOS LOS MAESTROS      ***/
	/*****************************************************************************************/
	/**/		                                                                              /**/
	/**/			 textarea{                                                                 /**/
	/**/			  resize:none;                                                             /**/
	/**/			  border: 1px solid rgb(178, 178, 178);                                    /**/
	/**/				box-sizing: content-box; 
	/**/				-moz-box-sizing: content-box; 
	/**/				-o-box-sizing: content-box;                                             /**/
	/**/				-webkit-box-sizing: content-box;
	/**/				border-radius: 3px 3px 3px 3px;                                         /**/
	/**/				box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;             /**/
	/**/			}                                                                          /**/
	/**/                                                                                   /**/
	/**/				input.buttom:hover{                                                     /**/
	/**/			background: url("../imagenes/bg.png") repeat scroll 0% 0% transparent;     /**/
	/**/			border-radius: 3px 3px 3px 3px;                                            /**/
	/**/			box-shadow:0 0 5px  blue;                                                  /**/
	/**/			cursor:pointer;                                                            /**/
	/**/		}                                                                             /**/ 
	/**/                                                                                   /**/
	/**/	                                                                                 /**/
	/**/			input{                                                                     /**/
	/**/				height:18px;                                                            /**/ 
	/**/				border: 1px solid rgb(178, 178, 178);                                   /**/
	/**/				box-sizing: content-box;                                           /**/
	/**/				-moz-box-sizing: content-box;                                           /**/
	/**/				-o-box-sizing: content-box;                                             /**/
	/**/				-webkit-box-sizing: content-box;                                        /**/
	/**/				border-radius: 3px 3px 3px 3px;                                         /**/
	/**/				box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;             /**/
	/**/				padding: 4px 4px 4px 0px;                                               /**/
	/**/                max-width: 200px;                                                      /**/
	/**/			}                                                                          /**/
	/**/			                                                                           /**/
	/**/			select{                                                                    /**/
	/**/				border: 1px solid rgb(178, 178, 178);                                   /**/
	/**/				box-sizing: content-box;
	/**/				-moz-box-sizing: content-box;
						-o-box-sizing: content-box;                                             /**/
	/**/				-webkit-box-sizing: content-box;
	/**/				border-radius: 3px 3px 3px 3px;                                         /**/
	/**/				box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;             /**/
	/**/				padding: 4px 4px 4px 0px;                                               /**/
	/**/                                                                                   /**/
	/**/			}                                                                          /**/
	/*****************************************************************************************/
		
		

   #Alerta{
		font-family:Arial;
	    background-color:white;
	    text-align:justify;
	    width:800px;
	    font-size:14px;
	    float:center;
	    margin-top:0px ;
	    padding-top:100px;
	    padding-bottom:100px;
	    border:2px double rgb(224,224,224);
		display: none;
		text-align:center;
		border-color:red;
		border-style:dashed;
		
	    
   }

/*****************************************************************************************/	
/**    estilo del boton de los calendarios y los botones de busqueda que tienen la lupa **/
/*****************************************************************************************/
/**/				.f_btn{                                                              /**/
/**/				background-image: url("../imagenes/icon_calendario.png");         /**/
/**/		        width:20px;                                                       /**/
/**/				height:18px;                                                            /**/ 
/**/				border: 1px solid rgb(178, 178, 178);                                   /**/
/**/				-moz-box-sizing: content-box;                                           /**/
/**/				border-radius: 3px 3px 3px 3px;                                         /**/
/**/				box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;             /**/
/**/						padding: 4px 4px 4px 0px;                                         /**/
/**/					}                                                                    /**/
/**/                                                                                   /**/
/***                                                                    *****************/
/**/	                                                                 /**/
/**/			.f_btn:hover{                                              /**/
/**/				border-radius: 3px 3px 3px 3px;                         /**/
/**/				box-shadow:0 0 5px  red;                                /**/
/**/				cursor:pointer;                                         /**/
/**/			}                                                          /**/
/**/						                                                  /**/
/**/			.btnbusq{                                                  /**/
/**/				background-image: url("../botones/bblue.png");         /**/
/**/				width:25px;           /*Ancho del div completo*/        /**/
/**/				height:19px;           /*Alto del div completo*/        /**/
/**/				                                                        /**/
/**/			}                                                          /**/
/**/                                                                   /**/
/**/	                                                                 /**/
/**/				.btnbusq:hover{                                         /**/
/**/					border-radius: 3px 3px 3px 3px;                      /**/                  
/**/					box-shadow:0 0 5px  blue;                            /**/                      
/**/					cursor:pointer;          	                          /**/
/**/				}                                                       /**/
/**/	                                                                 /**/
/*************************************************************************/
	
   #completo{		 
		 background:#EEE;
	    width:1024px;
		 min-height: 450px;          /*Ancho del div completo*/
	    height:auto;           	  /*Alto del div completo*/
	    margin:0px auto;
	    padding:0 px;
	    float:center;
	    border: 2px double #4F90C2;
	    border-bottom-left-radius:0px;
	    border-bottom-right-radius:0px;
		box-shadow: 0 0 30px black;
	 }
	 #cintillo{
	       box-shadow: 0px 5px 12px #800000;
    	width:1024px;                          /*El mismo ancho del div completo*/
    	height:30px;
    	background-color:#FFFFFF;
    	margin-left:0px auto;
    	margin-top:0px;
    	padding:0 px;
     	float:center;
    	font-family:Arial;
    	font-size:12;
    	color:#800000;
     	text-shadow:0px 5px 12px #000000;
    	clear:both;
    	border: 1px  #000000;
    	letter-spacing:1px;
	 }

   #head{
    	box-shadow: 0px 5px 12px #000000;
    	background-color:#FFFFFF;
    	padding:0px;
    	height:80px;
    	background-position:absolute;
	 }     

   #menu{
      box-shadow: 0px 5px 12px rgb(41,56,140);  /*Sombra*/
    	width:1024px;         /*El mismo ancho del div completo*/
    	height:33px;
    	background-color:rgb(41,56,140);
    	margin-left:0px auto;
    	margin-top:0.05em;
    	padding:0 px;
    	float:center;
    	font-family:Arial;
    	font-size:12;
    	text-shadow:0px 5px 12px #000000;
    	font-weight:bold;
    	clear:both;
    	border: 1px  #000000;
    	letter-spacing:1px;
	 }
	

   a{
      text-decoration:none;
      color:#FFFFFF;
	 	   a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
	     cursor: pointer;
	     input[type='button']}
   }
   
   a:hover{
	     color: rgb(41,56,140);
   }
   	
   p{
    	font-family:Arial;
    	font-size:14px;
	 }

   .letra_cont{
      family:Arial;
      font-size:15px;
   }

   .color{
   color:black;
   }

    #tit_unefa{
    	background-color:#C00010;
    	box-shadow: 0px 5px 12px #000000;
    	width:600px;
    	height:40px;
    	margin-top:15px;
    	padding:0 px;
    	float:center;
    	font-family:Arial;
    	font-weight:bold;
    	font-size:15px;
    	text-align:center;
    	color:white;
    	text-shadow:0px 5px 12px #000000;
    	border-radius:10px;
	 }
	
	 #cuadro_texto{
		  width:100px;
		  height:60px;
		  background-color:#1C2271;
		  box-shadow: 0px 5px 12px #000000;
		  float:center;
		  margin-left:350px;
		  margin-top:15px;
		  position-text:middle; 
		  position: relative;
		  border-bottom-left-radius:18px;
  		border-top-right-radius:22px;	
	 }
	
	 c{
		  font-weight:bold;
		  text-align:center;
		  font-size:18px;
		  font-family:Arial;
		  color:#FFFFFF;
		  background-attachment: fixed;
		  margin-top:20px;
	 }
	 
	 c:hover{
		  width:150px;
		  height:250;
		  background-color:#FFFFFF;
		  text-shadow:0px 5px 12px #000000;
		  color:#1C2271;
		  margin-left:200px;
		  margin-top:15px;
	 }
   #tit_intranet{     /* Título de confirmación de Intranet */
		  background-color:#141414;
		  border-top-left-radius:10px;
		  border-top-right-radius:10px;
		  padding:0px;                                                                                      
		  width:803px;
		  height:50px;
		  margin-left:5px;
		  float:center;
		  color:white;
		  text-align:center;
		  font-family:Arial; 
		  font-weight:bold;
	} 
  #conf_intranet{     /* Contenido Confirmación de Intranet*/
	    font-family:Arial;
	    background-color:white;
	    text-align:justify;
	    width:800px;
	    height:470px;
	    font-size:14px;
	    float:center;
	    margin-left:5px ;
	    padding:0px;
	    border:2px double rgb(224,224,224);
	    
	}
	#contenido1{     /* Este es el cuadro encargado de contener los maestros cortos*/
	    font-family:Arial;
	    background-color:white;
	    text-align:justify;
	    width:800px;
		 height:auto;
	    font-size:14px;
	    float:center;
	    margin-top:0px ;
	    padding:0px;
	    border:2px double rgb(224,224,224);
	    
	}
	#contenido2{    /* Este es el cuadro encargado de contener los maestros largos*/
	    font-family:Arial;
	    background-color:white;
	    text-align:justify;
	    width:800px;
	    height:auto;
	    font-size:14px;
	    float:center;
	    margin-top:0px ;
	    padding:0px;
	    border:2px double rgb(224,224,224);
		overflow-x:scroll;
	    
	}
	
/*-----------------------------------------------------------------------*/
/*---      DIV QUE CONTIENE LOS REPORTES DE EVALUACION DOCENTES       ---*/
/*-----------------------------------------------------------------------*/
/**/			#contRep_Dpte{                                             /**/
/**/				 font-family:Arial;                                     /**/
/**/				 background-color:white;                                /**/
/**/				 text-align:justify;                                    /**/
/**/				 width:1020px;                                          /**/
/**/				 height:auto;                                           /**/
/**/				 min-height:250px;                                      /**/
/**/				 font-size:14px;                                        /**/
/**/				 float:center;                                          /**/
/**/				 margin-top:0px ;                                       /**/
/**/				 padding:0px;                                           /**/
/**/				 border:2px double rgb(224,224,224);                    /**/
/**/				                                                        /**/
/**/                                                                   /**/
/**/			}                                                          /**/
/*-----------------------------------------------------------------------*/

	
  #tit_cont1{     /* Esta caja de texto se usa para los titulos de maestros cortos */
		 background-color:rgb(41,56,140);
		  border-top-left-radius:10px;
		  border-top-right-radius:10px;
		  padding:0px;                                                                                      
		  width:803px;
		  height:50px;
		  margin-top:20px;
		  float:center;
		  color:white;
		  text-align:center;
      font-family:Arial; 
      font-weight:bold;
	}
	
   #tit_cont2{     /* Esta caja de texto se usa para los titulos de maestros largos */
		  background: url("../imagenes/gris.jpg") repeat scroll 0% 0% transparent;
		  border-top-left-radius:10px;
		  border-top-right-radius:10px;
		  padding:0px;                                                                                      
		  width:800px;
		  height:50px;
		  margin-top:20px;
		  float:center;
		  color:black;
		  text-align:center;
      font-family:Arial; 
      font-weight:bold;
	} 
	 #color{
      color:#000000;
      font-family:Comic Sans MS;
      font size:16;
   }
	
	
  #cuadro_botones{
      background-color:#141414;
		  padding:0px;
		  width:70px;
		  height:25px; 
		  margin:0px;
		  float:center;
		  color:white;
		  text-align:center;
	    border-style:groove;
	    border: 1px double #141414;
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
      clear:both;
      box-shadow:-10px 0px 50px rgb(208,208,208);
    
  }
  .sombra{
      width:150px;
	 	  height:25px; 
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px; 
      box-shadow:0px 0px 10px rgb(208,208,208);
      background-color:#141414;    
  } 
  
  #fondo_botones{
     background-image:url(../botones/fondo.jpg);
		  padding-bottom:3px;
		  width:803px;
		  height:42px; 
		  margin-top:0px;
		  margin-bottom:7px;
		  float:center;
		  color:white;
		  text-align:center;
		  border-bottom-left-radius:10px;
		  border-bottom-right-radius:10px;
		  clear:both;
  } 
  #acces{
	   font-family:Arial;
	   background-image:-webkit-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
	   background-image:-moz-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
	   background-image:-o-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
	  background-image:-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
	   /*background-color:rgb(233,242,251);*/
	   text-align:justify;
	   font-size:13px;
	   width:1022px;
	   height:22px;
	   margin-top:1px; 
	   float:right;
	   border-top: -2px solid rgb(220,230,244);
	   border-left: 1px outset rgb(220,230,244);
	   border-right: 1px solid #4F90C2;
	   border-bottom: 1px solid  #4F90C2;
	   box-shadow:5px 5px 12px grey;
	}
	
	#datos{
      font-family:Inherit;
      font-size:14px;
      font-weight:bold;
      text-decoration:underline;  
      color:white;
      background-image:-webkit-linear-gradient(rgb(30,144,255),rgb(30,144,255),rgb(0,191,255));
      background-image:-moz-linear-gradient(rgb(30,144,255),rgb(30,144,255),rgb(0,191,255));
      background-image:-o-linear-gradient(rgb(30,144,255),rgb(30,144,255),rgb(0,191,255));
      background-image:-linear-gradient(rgb(30,144,255),rgb(30,144,255),rgb(0,191,255));
      box-shadow:0px 0px 5px rgb(30,144,255);
      float:right;
      width:100%;
      height:25px;
      margin:0px auto;
  }                 
  /*.forma{
      box-shadow:4px 20px 5px rgb(30,144,255);
      border-bottom-right-radius:5px;
  }      */
	#fila{
      height:30px;
      background-color:blue;  clear:both;
  }
  
  
  #princ{
    color:#800000;
    font-size:15px;
  }
      
  fieldset{
	   font-family:Arial;
	   text-align:center;
	   width:195px;
	   height:267px;
	   margin-right:0px;
	   margin-top:-20px;
	   float:right;
	   border:1px solid blue;
	   border-radius:8px;
	   box-shadow:0px 5px 12px #88CDF7;
	}
	
	h6{
		width:218px;
		height:30px;
		background:grey;
		margin:-5px -10px 20px -10px;
		border: 1px solid blue;
		padding-top:10px;
		padding-bottom:5px;
		font-size:25px;
		border-radius:8px 8px 0px 0px;
		text-align:center;
	}
	   
  #vista{
	   font-family:Arial;
	   background-color:#D7D7D7;
	   text-align:justify;
	   width:390px;
	   height:24px;
	   margin-right:0px;
	   margin-top:-20px;
	   float:left;
	   box-shadow:0px 5px 12px #88CDF7;
	   border-top: 1px solid #000000;
	   border-left: 1px solid #000000;
	   border-right: 1px solid #000000;
	   border-bottom:1px solid #000000;
	   border-top-right-radius: 14px;
	
	}
	#inicio{
		font-family:vivaldi;
		background-image:-moz-linear-gradient(#C0E1E4,#DDF2F4,#7BE1E1);
		font-weight:bold;
		width:500px;
		height:200px;
		float:center;
		color:#0000FF;
		margin-top:20px;
		font-size:30px;
	   box-shadow:10px 5px 12px #0080FF;
	}

  .col{
	   font-family:Arial;
	   color:#000000;
	   text-align:center;
	}
	
.campo { width: 85px;  }

.titulo{
	background-image:-webkit-linear-gradient(#1090FF,white,#1090FF);
	margin-top:15px;
	padding:0 px;
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	color:navy;
	text-shadow:0px 5px 14px #000000;
	border-radius:10px;
	}
	
	
 #pres_cde{
       background-image:-webkit-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
       background-image:-moz-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
       background-image:-o-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
       background-image:-linear-gradient(rgb(243,247,253),rgb(220,230,244),rgb(220,230,244));
       width:600px;
       height:300px;
       padding:2px;
       margin-top:10px;
       font-family:Arial;
       font-size:16px; 
       float:center;
       clear:both;
       text-align:justify;
       background-color:rgb(220,230,244);
  }
  .letra_capital{
      font-family:Kingthings Willow;
      font-size:50px;
      color:#800000;  
      text-align:left;
       float:center;
       font-weight:bold;
  }
  .concepto{
		color:#141414;
		Font-family:Broadway;
		font-size:30px;
		text-align:center;
		letter-spacing:3px;
  }
	
/**-------------------------------------------------------------------------------------**/
/**         ESTILO DE LAS  TABLA DE LA FUNCION LISTAR DE LOS MAESTROS                   **/
/**-------------------------------------------------------------------------------------**/
/**/			#tb1{
/**/				width:800px;
/**/				background-color:#BAE8FE;
/**/				color: #FFFFFF;
/**/				font-family: 'Helvetica', Arial, sans-serif;
/**/				font-size: 13px;
/**/			}
/**/
/**/			#tb2{
/**/				align:center;
/**/				width:800px;
/**/				background-color:#BAE8FE;
/**/				color: #FFFFFF;
/**/				font-family: 'Helvetica', Arial, sans-serif;
/**/				font-size: 13px;
/**/				
/**/				
/**/			}
/**/									/**/			#tbTrans{
/**/									/**/				align:center;
/**/									/**/				width:500px;
/**/									/**/				background-color:#483DB4;
/**/									/**/				color: #FFFFFF;
/**/									/**/				font-family: 'Helvetica', Arial, sans-serif;
/**/									/**/				font-size: 13px;
/**/									/**/				
/**/									/**/			}
/**/
/**/			#th{
/**/			padding:5px;
/**/				height:30px;
/**/				margin:5px;
/**/				text-align:center;
/**/				color:black;
/**/				background-color:#BAE8FE;
/**/				
/**/			}
/**/
/**/			#thhh{
/**/				height:30px;
/**/				margin:5px;
/**/				text-align:center;
/**/				background-color:#FFFFFF;
/**/				color:black;
/**/				padding:5px;
/**/				
/**/			}
/**/
/**/			#dc{
/**/				text-color:#fff;
/**/				height:30px;
/**/				margin:5px;
/**/				text-align:center;
/**/				color:black;
/**/			}
/**/
/**/			#dc:hover{
/**/				background-color:#C0C0C0;
/**/				font-size:13px;
/**/				font-weight:bold;
/**/			}			
/*************************FIN TABLA DE LA FUNCION LISTAR DE LOS MAESTROS*******************/
  


  
	
@charset "UTF-8";

/** 
 * MTV.com Ultimate Horizontal CSS Drop-Down Menu Theme
 *
 * @file		default.ultimate.css
 * @name		MTV.com
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */
                





#reloj{
	width:240px;
	height:260px;
	float:right;
	margin-top:5px;
	margin-right:8px;
	}

span#fecha{
	font-weight:bold;
	display:block;
	margin-top:0px;
	text-align:left;
	}
#txt{
    font-family:Algerian;
    font-size: 14px;
    color:black;
    text-align: center;
	background-color:rgba(192,187,134,0.8);
	border:1px blue solid;
	border-radius:5px;
} 

.tabla{
	float:center;
	}



#atras{
  width:80px;
  height:18px;
 }
 
/*formato transaccion planificacion*/
.plani{
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	
	}
.td{
	margin-right:6px;
	margin-left:6px;
	padding:2px;
	background:#7EDEB8;
	}

.what{
	border:2px groove rgb(180,190,255);
	padding:2px;
	border-radius:8px;
	background-color:#E6F0ED;	
	}

.tabla{
	padding:5px;
	}

/*estilos enlaces usuario estudiante*/


.enlace{
    color:black;
}

.enlace:hover{
    
    color:rgba(160,200,89,0.8);
}

.abrv{
	color:#0000FF;

	font-size:20px;}

/*******************************MENU*************************/

ul#css3menu1,ul#css3menu1 ul{
	list-style:none;
	padding:0;
	background-color:rgb(41,56,140);
	border-width:0px;
	border-style:solid;
	border-color:rgb(41,56,140);

	}
	
ul#css3menu1 ul{
	display:none;
	position:absolute;
	background-color:rgb(41,56,140);
	border-color:rgb(41,56,140);
	}
	
ul#css3menu1 li:hover>*{
	display:block;
	box-shadow:5px 5px 32px 18px white;
	font-weight:bold;
	}
	
ul#css3menu1 li{
	border:1px;
	border-color:black;
	border-style:outset;
	position:relative;
	display:block;
	float:left;
	

	}
	
ul#css3menu1 li:hover{
	z-index:1;}
	
ul#css3menu1 ul ul{
	position:absolute;
	left:100%;
	top:0;
	}
	
ul#css3menu1{
	font-size:0;
	display:inline-block;
	padding:0px 0px 0px 0;
	
	}
	

ul#css3menu1>li{
	margin:0 0 0 0px;
	}
	
ul#css3menu1 ul>li{
	margin:0px 0 0;
	width:auto;

	
 }
	

ul#css3menu1 a{
	display:block;
	text-decoration:none;
	font:13px Arial;color:#ffffff;
	cursor:pointer;
	width:200px;
	padding:5.5px 25px;
	border-width:0;
	border-style:;
	border-color:transparent; 
	}
	
ul#css3menu1 ul li{
	float:none;
	}
	
ul#css3menu1 ul a{
	text-align:left;
	}
	
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#ffffff;
	border-color:#F8F8F8;
	border-style:;
	color:rgb(41,56,140);
	transition-property: background-color, border-color, box-shadow;
	transition-duration:0.5s;
	text-decoration:none;
	}
	
ul#css3menu1 li.topmenu>a{
  margin-top:0px;
	border:0px solid ;
	border-color:rgb(41,56,141);
	font:bold 16px Arial;
	color:#ffffff;
	text-decoration:none;
	}
	
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	background-color:#ffffff;
	border-style:;
	color:rgb(41,56,140);
	text-decoration:none;
	 
	}